html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}

ol, ul {
    list-style: none;
}

header, footer, nav, section, article, hgroup, figure {
    display: block;
}

legend {
    display: none;
}

.page{
  height: 100vh;
}

#front-page{
  background-color: #8CE0D5;
  color: white;
  text-align:center;
}

#specialities{
  background-color: red;
}

#contact{
  background-color: blue;
}

h1{
  height: 25vh;
}

h2{
  color: #3BA394;
  height: 20vh;
}
#logo img{
  height: 25vh;
}

#picture-profile img{
  border-radius: 50%;
  height: 25vh;
}

#name-profile{
  color: #3BA394;
}
