html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}

ol, ul {
    list-style: none;
}

header, footer, nav, section, article, hgroup, figure {
    display: block;
}

legend {
    display: none;
}

.page{
  height: 100vh;
}

#front-page{
  background-color: #8CE0D5;
  color: white;
  text-align:center;
}

#specialities{
  background-color: red;
}

#contact{
  background-color: blue;
}

#title{
  font-size: 2.2vh;
}

#title img{
  /*80% of the width of the logo. The width is 15% of vh 80% *15*/
  margin: 0 -12vh 0 0;
}

#logo{
  height: 15vh;
}

#picture-profile img{
  border-radius: 50%;
  height: 25vh;
}

#name-profile{
  color: #3BA394;
}
